<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Главная</title>
    <link rel="stylesheet" href="css/helpRequest.css"/>
    <link rel="icon" href="img/logo.jpg"/>
</head>
<body>
<div class="creator" align="center">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>
        <p>
            <input type="text" name="messageText" placeholder="Текст запроса"/>
            <input type="text" name="requestOwner" placeholder="Заявитель"/>
            <input type="text" name="roomNumber" placeholder="Номер комнаты"/>
            <input type="file" name="file"/>
        </p>
        <input type="submit" value="Отправить"/>
    </form>
</div>


<h2>Перечень заявок</h2>
<div class="requests">
    <table id="helpRequests-list">
        <tr>
            <th>Id</th>
            <th>Текст запроса</th>
            <th>Заявитель</th>
            <th>Номер комнаты</th>
            <th>Создатель заяки</th>
            <th>Файлы</th>
        </tr>
        <tr th:each="request : ${helpRequests}" th:id="${request.getId()}">
            <td th:text="${request.getId()}" id="requestId"></td>
            <td th:text="${request.getMessageText()}" id="requestText"></td>
            <td th:text="${request.getRequestOwner()}" id="requestOwner"></td>
            <td th:text="${request.getRoomNumber()}" id="requestRoomNumber"></td>
            <td th:text="${request.getUsernameAuthor()}" id="requestIdUsernameAuthor"></td>
            <td th:if="${not #lists.isEmpty(request.getFilePath())}" id="requestFile">
                <img th:src="@{/uploads/{file}(file=${request.getFilePath()})}" height="100" width="100"/>
            </td>
        </tr>
    </table>
</div>
<div class="menu">
    <p th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    <a href="/accounts">Пользователи</a>
</div>
</body>
</html>

