<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="img/logo.jpg"/>

</head>
<body>
<h1>Заголовок 1ого уровня</h1>

<div align="center">
    <form method="post">
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}" />
        <p>
            <tr>
                <input type="text" name="messageText" placeholder="Текст запроса">
                <input type="text" name="requestOwner" placeholder="Заявитель">
                <input type="text" name="roomNumber" placeholder="Номер комнаты">
            </tr>
        </p>
        <input type="submit" value="Отправить" />
    </form>
</div>


<table>Перечень заявок</table>

<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Текст запроса</th>
            <th>Заявитель</th>
            <th>Номер комнаты</th>
            <th>Создатель заяки</th>
        </tr>
        <tr th:each="request : ${helpRequests}">
            <td th:text="${request.getId()}"></td>
            <td th:text="${request.getMessageText()}"></td>
            <td th:text="${request.getRequestOwner()}"></td>
            <td th:text="${request.getRoomNumber()}"></td>
            <td th:text="${request.getUsernameAuthor()}"></td>
        </tr>
    </table>
</div>
<div>
    <p th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</p>
    <form th:action="@{/logout}" method="post">

        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
<footer>CSS не подключено</footer>
</html>

